*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #000000;
  
    
}
html{
    scroll-behavior: smooth;
}


:root{
    --color-primary:#A31FBD;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #ff2626;
    --color-danger-varient: #6c63ff;
    --color-white: #fff;
    --color-light: rgb(243, 243, 243);
    --color-black: #000;
    --color-bg: #ffffff;
    --color-bg1: #799FF2;
    --color-bg2: #424890;

    --container-width-lg:76%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition: all 400ms ease;

}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-white);
   
}

body::-webkit-scrollbar {
    display: none; 
  }


.container{
    width: var(--container-width-lg);
    margin: 0 auto;
    
}

section{
    margin-top: 200px;
    padding: 96px 0;

}

section h2{

    margin-bottom: 64px;
}

h1,h2,h3,h4{
    line-height: 1.2;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 16px 32px;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--color-bg2);
    border-color: var(--color-bg2);
}

.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}

/* input{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 16px 40px;
    border-radius: 5px;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;

} */


.btn_search{

    background:#ff2626;
    color: var(--color-black);
    padding: 16px 40px;
    border-radius: 5px;
    transition: var(--transition);

}

.btn_search:hover{
    background: var(--color-danger);
    color: var(--color-white);
    border-color: var(--color-bg1);

}

.btn_seemore{

    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 16px 32px;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    /* display: inline-block;
    border: 1px solid var(--color-black);
    transition: var(--transition);
    padding: 16px 30px;
    border-radius: 5px; */
}

.btn_seemore:hover{
   
    border-color: var(--color-black);
}


/* nav */

nav{
    background: transparent;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* js nav bar change */
.window-scroll{
    background:var(--color-light);
   /* box-shadow: 0 10px 32px rgb(125, 125, 125); */

}

.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
/* nav button{
    display: none;
} */

.nav_menu{
    display: flex;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    margin-left: 400px;
}

.nav_menu a{
    font-size: 15px;
    
}

.nav_menu a:hover{
    color: var(--color-danger);
    transition: var(--transition);
    
}

.dropdown{
    float: left;
   
}
 .dropbtn {
    font-size: 16px;
    color: var(--color-black);
    padding: 14px 16px;
    transition: var(--transition);
    background-color: transparent;
   
   
  }

  /* Add a red background color to navbar links on hover */
 .dropdown:hover .dropbtn {
    color: var(--color-danger);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: var(--transition);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }